
.header {
    text-align: center;
    background-image: url("pic/razer_keyboard.jpg");
    background-size: cover;
    padding: 4rem; }

.header-subnav {
    float: none;
    position: relative;
    top: 4rem;
    text-align: center;
    margin-bottom: 0;
}

.header-subnav li {
    float: none;
    display: inline-block;
}

.header-subnav li a {
    padding: 0.9rem 1rem 0.75rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.header-subnav li a.is-active {
    background: rgba(250, 250, 250, 0.7);
    color: #333;
}

.header-subnav li a:hover {
    background: rgba(250, 250, 250, 0.7);
    color: #333;
    transition: all .25s ease-in-out;
}
}

.project-body {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.nav-header {
    color: whitesmoke;
    font-family: Tahoma;
    text-align: left;
}

.profile {
	
    /* Settings for the box container which holds the form*/
    display: block;
    width: 500px;
    height: 600px;
    margin: auto;
    position: center;
    
}

