/* Container for the forms.*/
.container {
    /* Settings for the box container which holds the form*/
    display: block;
    width: 350px;
    height: 450px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -175px;

}

/* Exium logo adjustments can be made here.*/
img {
    display: block;
    max-height: 250px;
    max-width: 300px;
    margin: auto;
}