.container {
    display: block;
    border: 2px black solid;
    width: 350px;
    height: 445px;
    margin: auto;
    font-size: 20px;

    /* Center the container to the middle of the page*/
    position: absolute;
    top: 25%;
    left: 41%;
}

.loginForm {
    text-align: center;
}

.userInput {
    text-align: center;
    height: 30px;
    width: 250px;
}

.passInput {
    text-align: center;
    height: 30px;
    width: 250px;
}

.logBtn {
    border: 1px black solid;
    background-color: lightskyblue;
    height: 40px;
    width: 255px;
}

.registerHere {
    font-size: 16px;
    font-family: Arial;
}

.forgotPassword {
    font-size: 14px;
    font-family: Arial;

}

img {
    display: block;
    max-height: 250px;
    max-width: 300px;
    margin: auto;
}