.container {
    /* Settings for the box container which holds the form*/
    display: block;
    border: 2px black solid;
    width: 350px;
    height: 450px;
    margin: auto;

    /* Center the container to the middle of the page*/
    position: absolute;
    top: 25%;
    left: 41%;
}

img {
    display: block;
    max-height: 250px;
    max-width: 300px;
    margin: auto;
}