
/* Box styles */
.scrollbars {
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 300px;
    height: 250px;
    overflow: scroll;
}
/* for whole tools */
.scrollbarsTools{
    border: 1px black solid;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 320px;
    height:calc(100vh - 82px);
    overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}